<style>
canvas {
    border: 1px inset black;
    position:absolute;
    top: 0;
    left: 0;
}
#step_1{
	background-color:#fffa98;
}
</style>
<div style="background-color:#fffa98;width:100%">
<p> FREE HAND: mouse down and drag </p>
<p> REGION SELECT: double click & resize </p>
</div>
<div class="photo-container" style="width:332px;height:742px;overflow:hidden;top:100px;left:10px;position:absolute;">
		<img id="body_view"  src="/assets/<%=@cur_view.body_part+"_"+@cur_view.view_side.to_s+".png" %>" onmousedown="event.preventDefault();" 
		alt="no photo" style="position:relative;"></img>
		<canvas id="canvas" width="330" height="740" >
		</canvas>
</div>

<div class="zoom-photo-container" style="width:332px;height:522px;overflow:hidden;top:100px;left:360px;position:absolute;">
		<img id="zoom_body_view" src="/assets/<%=@cur_view.body_part+"_"+@cur_view.view_side.to_s+".png" %>" onmousedown="event.preventDefault();" 
alt="no photo" style="position:relative;"></img>
		<canvas id="zoomCanvas" width="330" height="520" >
		</canvas>
</div>

<div id="pain_panel" style="width:330px;height:750px;position:absolute;top:100px;left:710px;">
	<ul>
		<li><a href="#pain_picker">Pain Picker</a></li>
		<li><a href="#my_symptoms">My Symptoms</a></li>
	</ul>
	
	<div id="pain_picker">
			<ul style="list-style:none;">
				<li>Describe Your Annotation: </li>
				<li><textarea cols="25" id="tag_annotate" name="tag[annotate]" rows="4"></textarea></li>
				<li>Pain Severity: <div class="pain_type_slider" id="tag_pain_severity"></div></li>
				<li> Pain Depth: <div class="pain_type_slider" id="tag_pain_depth"></div></li>
				<li> <button type="button" id="tagDone">Done!</button> </li>
			</ul>
	</div>
	
	<div id="my_symptoms">
</div>

	
<script type="text/javascript">
var zoomScale=1.0;

	//DM: handle all the zooming events
	var cvState =new CanvasState(document.getElementById("zoomCanvas"), "tagDone", packTagInfo, submitCallback);
	var zcvState = new ZoomCanvasState(document.getElementById("canvas"), cvState, zoomCallback);
	cvState.setViewState(0,0,1.0);
	//var zoomHandler = new ZoomHandler(cvState, zcvState);
	
	//set up canvas
	function submitCallback(tagId, regionTags, handTags){
		console.log("callaback:"+tagId);
		//updating main canvas
		zcvState.appendRegionTags(tagId, regionTags);
		zcvState.appendFreeHandTags(tagId, handTags);
	
		//my_symptoms-->review..	
		$("#my_symptoms").accordion("destroy");

		//append
		var symptomLogger= $("#my_symptoms");
		symptomLogger.append($("<h3><a href='#'>"+document.getElementById("tag_annotate").value+"</a></h3>"));
		symptomLogger.append($("<div><div>severity: "+document.getElementById("tag_pain_severity").childNodes[0].style.left+
													"</div><div>depth: "+document.getElementById("tag_pain_depth").childNodes[0].style.left+"</div></div>"));
		
		setTimeout(function(){
			$("#my_symptoms").accordion();
			$("#my_symptoms").accordion("resize");
		}, 1500);
		
		//reset
		document.getElementById("tag_annotate").value="";
		document.getElementById("tag_pain_severity").childNodes[0].style.left=0;
		document.getElementById("tag_pain_depth").childNodes[0].style.left=0;
	}
	function packTagInfo(){
		var annotation=document.getElementById("tag_annotate").value;
		var severity=document.getElementById("tag_pain_severity").childNodes[0].style.left;
		var depth=document.getElementById("tag_pain_depth").childNodes[0].style.left;
		return {"annotate":annotation, "severity":severity, "depth":depth, "view_id":0};
	}
	//zoom called.
	function zoomCallback(x, y, w, h){
		var standardW=330;
		zoomScale=standardW/w;
		var zoomImg=document.getElementById("zoom_body_view");
		zoomImg.style.width=standardW*zoomScale+"px";
		zoomImg.style.left="-"+x*zoomScale+"px";
		zoomImg.style.top="-"+y*zoomScale+"px";
		cvState.setViewState(x,y,zoomScale);
	}
	//set up pain panel
	$(function() {
		$("#my_symptoms").accordion();
		$( "#pain_panel" ).tabs();
		$(".pain_type_slider").slider();
		$(".pain_type_slider").css({
		});
	});
</script>