<table>
	<tr>
		<td>
			<p> FREE HAND: mouse down and drag </p>
			<p> REGION SELECT: double click & resize </p>
		</td>
	</tr>
	<tr>
		<td>
			<div class="photo-container">
				<div id="body_image_div" style="width:330px;height:750px;position:absolute;overflow:hidden">
						<!--Removed this image. Instead, the image is actually drawn onto the canvas. This will let us save it with annotations.-->
					<img id="body_view" src="/assets/<%=@cur_view.body_part+"_"+@cur_view.view_side.to_s+".png" %>" onmousedown="event.preventDefault();" 
					alt="no photo" style="position:relative;"></img>
					<canvas id="canvas" width="330" height="750" 
						style="position:absolute; top:0px; background-color:transparent; border: 1px solid black;">
					</canvas>
			</div>
		</td>
	</tr>
</table>

<script type="text/javascript">
	var cvState =new CanvasState(document.getElementById("canvas"));
</script>