
</style>
<table>
	<td width=35px/>
	<td width=390px>
		<h1>Body Diagrams</h1>
	</td>
	<td width = 600px>
		<h4>
			1: Use the zoom pane to focus <br/> 
			2: Click and drag to draw; double click to define a rectangular region <br/>
			3: Click "Done" when you are finished describing a symptom</h4>
	</td>
	<td>
	<button type="button" id="submitTask">Submit!</button>
	</td>
</table>
<!--Description of the application
<div id="instructions">
<p> FREE HAND: mouse down and drag </p>
<p> REGION SELECT: double click & resize </p>
</div>-->

<!-- DM: I think it makes more sense to keep the text + drawing annotation components together? -->
<div style="position: relative; margin-left: 200px; margin-right: 200px;">
<div id="manipulationMode" style="float:right">
	<input type="radio" id="zoom" name="radio" checked="checked" /><label for="zoom">zoom</label>
	<input type="radio" id="draw" name="radio" /><label for="draw">draw</label>
	<ul>
		<li> <button type="button" id="undo">Undo</button></li>
	</ul>
</div>
<div id="content-panel" style="height:800px;overflow:hidden;">
<canvas id="canvas" width="700" height="800" style="position:relative"/></canvas>
<div class="annotator-adder" id="annotate-box" style="visibility:hidden;position:absolute"><button id="annotating">??</button></div>
<div class="annotator-outer annotator-editor"id="annotator" style="visibility:hidden;position:absolute">
<div class="annotator-widget" >
	<ul class="annotator-listing">
		<li class="annotator-item">
			<textarea id="annotator-field-0" placeholder="Comments…" ></textarea>
		</li>
		<li class="annotator-item"><input id="annotator-field-1" placeholder="Add some tags here…"></li>
	</ul>
</div>
</div>

</div>
<img id="imgsrc" src="/assets/female_whole_0_cropped.png" style="width:320px;height:800px;display:none"/>

<!-- 
	<table>
		<td width="500px">
			<div id="photo-container" style="width:500px;height:800px;overflow:hidden;">
			 <img src="/assets/female_whole_0.png" style="width:350px;"/>
			</div>
		</td>
		<td width="360px">	
			<div id="pain_picker">
					<ul style="list-style:none;">
						<li>Please describe your symptom: </li>
						<li><textarea cols="45" id="tag_annotate" name="tag[annotate]" rows="5"></textarea></li><br/>
						<li>Symptom Severity: </li>
						<li>Light.........................................................Severe</li>
						<li>
							<div class="pain_type_slider" id="tag_pain_severity"></div>
						</li> <br/>
						<li>Symptom Type:</li>
						<li>
							<div id="symptomTypes">
								<input type="radio" id="numb" name="radio" checked="checked" /><label for="numb">numb</label>
								<input type="radio" id="sharp" name="radio" /><label for="sharp">sharp</label>
								<input type="radio" id="dull" name="radio" /><label for="dull">dull</label>
								<input type="radio" id="periodic" name="radio" /><label for="periodic">periodic</label>
							</div>
						</li>
						<li> Symptom Depth: </li>
						<li>Shallow......................................................Deep</li>
						<li><div class="pain_type_slider" id="tag_pain_depth"></div></li> <br/>
						<li> I experience this symptom mostly when I: <br/>
							<form>
								<input type="checkbox" name="posture" value="Stand"/> Stand
								<input type="checkbox" name="posture" value="Walk"/> Walk
								<input type="checkbox" name="posture" value="Run"/> Run
								<input type="checkbox" name="posture" value="Jump"/> Jump
								<input type="checkbox" name="posture" value="Sit"/> Sleep
							</form>
							</li> <br/>
						<li> <button type="button" id="undo">Undo</button> <button type="button" id="tagDone">Save this symptom.</button> </li>
					</ul>
			</div>	
		</td>
	</table>	
	-->
</div>
	
	
<script type="text/javascript">
	function getURLParameter(name) {
			return decodeURIComponent(
					(location.search.match(RegExp("[?|&]"+name+'=(.+?)(&|$)'))||[,null])[1]
			);  
	}
	//current view side {0:front, 1: right, 2: back, 3: left}
	var cur_view_side=0;
	var imagePrefix="/assets/";
	
	var zoomScale=1.0;//current zoom scale
	$(document).ready(function(){
		//$('#content-panel img').panZoom({min_height:1200,min_width:316});

		var canvasElem=document.getElementById("canvas");
		canvasElem.width=$(canvasElem).parent().width();
		var cvState = new CanvasState(document.getElementById("canvas"));
		cvState.setMode("zoom");//default
		
		$("#manipulationMode").buttonset();
		$("#manipulationMode input").change(function(){
			cvState.setMode(this.id);
		});
		
		$( "#undo" ).click(function(){
			cvState.undoLastDrawing(cvState);
		});
		
		$( "#annotating" ).click(function(){
			$("#annotator").css({
				left:$(this).parent().css("left"),
				top:parseInt($(this).parent().css("top"))-100,
				width: 200,
				height: 100,
				visibility: "visible"
			})
			$(this).parent().css({visibility:"hidden"});
		});
		
	});
	
	/*var cvState =null;//new CanvasState(document.getElementById("canvas"));//second pane: zoomed canvas
	var zcvState = null;//new ZoomCanvasState(document.getElementById("canvas"), cvState, zoomCallback, tagDoneCallback);//first pane: main canvas
	cvState.setViewState(0,0,1.0); */
	function translateTagInfo(tagInfo){
		var severity="no pain";
		if(tagInfo.depth==10) output="no pain";
		else if(tagInfo.depth==20) output="mild pain";
		else if(tagInfo.depth==30) output="mild pain";
		else if(tagInfo.depth==40) output="discomforting";
		else if(tagInfo.depth==50) output="moderate";
		else if(tagInfo.depth==60) output="distressing";
		else if(tagInfo.depth==70) output="severe";
		else if(tagInfo.depth==80) output="intense";
		else if(tagInfo.depth==90) output="very severe";
		else if(tagInfo.depth==100) output="unbearable";
		tagInfo.severity=severity;
		
		var depth="skin";
		if(tagInfo.depth==25) output="beneath skin";
		if(tagInfo.depth==50) output="core";
		if(tagInfo.depth==75) output="close to opposite";
		if(tagInfo.depth==100) output="opposite side";
		tagInfo.depth=depth;
		return tagInfo;
	}
	//callback after "done" button clicked for tag
	function tagDoneCallback(){
		//update drawing canvas
		cvState.flush();
	
		//updating my_symptoms tab
		$("#my_symptoms").accordion("destroy");
		var symptomLogger= $("#my_symptoms");
		var TagInfo=translateTagInfo(packTagInfo());
		
		symptomLogger.append($("<h3><a href='#'>"+TagInfo.annotate+"</a></h3>"));
		symptomLogger.append($("<div><div>severity: "+TagInfo.severity+
													"</div><div>depth: "+TagInfo.depth+"</div></div>"));
		
		setTimeout(function(){
			$("#my_symptoms").accordion();
			$("#my_symptoms").accordion("resize");
		}, 100);
		
		//resetting pain_panel tab
		document.getElementById("tag_annotate").value="";
		$("#tag_pain_severity").find("a")[0].innerHTML="";
		$( ".pain_type_slider" ).slider( "option", "value", 0 );
		$("#tag_pain_severity").find("a")[0].style.backgroundColor="#E6E6E6";
	}
	
	//returns annotated tag information from pain tab.
	function packTagInfo(){
		var annotation=document.getElementById("tag_annotate").value;
		var severity=$("#tag_pain_severity").slider( "option", "value" );
		var depth=$("#tag_pain_depth").slider( "option", "value" );
		return {"annotate":annotation, "severity":severity, "depth":depth, "view_side":cur_view_side};
	}
	
	//called when zoom button is clicked.
	function zoomCallback(x, y, w, h){
		var originalW=document.getElementById("body_view").width;
		var marginBuffer = (330 - originalW)/2;
		var standardW=330;
		zoomScale=standardW/w;
		var zoomImg=document.getElementById("zoom_body_view");
		zoomImg.style.width=originalW*zoomScale+"px";
		zoomImg.style.left=(marginBuffer*zoomScale - x*zoomScale)+"px";
		zoomImg.style.top="-"+y*zoomScale+"px";
		cvState.setViewState(x,y,zoomScale);
	}
	/*
	//set up buttons & panels & tabs
	$(function() {
		$("#my_symptoms").accordion();
		$("#symptomTypes").buttonset();
		$("#tag_pain_severity").slider({
			step:10,
			slide: function(event, ui) {
				this.children[0].innerHTML=ui.value/10;
				var greenValue=Math.floor(ui.value*255/100);
				var redValue=255-greenValue;
				this.children[0].style.backgroundImage="none";
				this.children[0].style.backgroundColor="rgb("+greenValue+","+redValue+",0)";
			}
		});
		$("#tag_pain_depth").slider({
			step:25
		});
		$(".pain_type_slider").find("a").css({
			textDecoration:"none",
			textAlign:"center"
		});
		
		//set up with user's information
		if(getURLParameter("gender")=="female"){
			imagePrefix="/assets/female_";
			$("#body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
			$("#zoom_body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
	}	
		
		//buttons
		$( "#rotateLeft" ).click(function(){
			cvState.flush();
			cur_view_side = (cur_view_side+1)%4;
			zcvState.setCurViewSide(cur_view_side);
			$("#body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
			$("#zoom_body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
		});
		$( "#rotateRight" ).click(function(){
			cvState.flush();
			cur_view_side = (cur_view_side+3)%4;
			zcvState.setCurViewSide(cur_view_side);
			$("#body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
			$("#zoom_body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
		});
		$( "#undo" ).click(function(){
			cvState.undoLastDrawing(cvState);
		});
		$( "#submitTask" ).click(function(){
			zcvState.submitAll(getURLParameter("gender"),  (2012-getURLParameter("birth")));
		});
		$( "#tagDone" ).click(function(){
			var tagInfo=packTagInfo();
			console.log(tagInfo);
			if(tagInfo.severity=="0%") {
				alert("please set symptom severity level");
			}
			else if(tagInfo.annotate=="") {
				alert("please describe the symptom");
			}
			else{
				zcvState.saveTagInfo(tagInfo);
			}
		});
	});*/
</script>