<style>
canvas {
    position:absolute;
    top: 0;
    left: 0;
}

h1 {
	color:#71637D;
	font-size:250%
}

h4{
	color:#4F2F4F;
}

body {
	background-color:#D8BFD8;
	font-family : "Trebuchet MS";
}

#content-panel {
	background-color:#FFFFFF;
}

#instructions{
	width:1050px;
	background-color:#ffda98;
}

.centeredImage
    {
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    padding:0px;
    }
</style>
</style>
<table>
	<td width=35px/>
	<td width=390px>
		<h1>Body Diagrams</h1>
	</td>
	<td width = 600px>
		<h4>
			1: Use the zoom pane to focus <br/> 
			2: Click and drag to draw; double click to define a rectangular region <br/>
			3: Click "Done" when you are finished describing a symptom</h4>
	</td>
	<td>
	<button type="button" id="submitTask">Submit!</button>
	</td>
</table>
<!--Description of the application
<div id="instructions">
<p> FREE HAND: mouse down and drag </p>
<p> REGION SELECT: double click & resize </p>
</div>-->

<!-- First pane: Main view for zooming functionality -->
<div id="content-panel">
	<!-- Rotation buttons -->
	<button type="button" id="rotateLeft" style="position:absolute;top:350px;left:10px"> <img src="/assets/left_arrow.png"> </button>
	<button type="button" id="rotateRight" style="position:absolute;top:350px;left:372px;"> <img src="/assets/right_arrow.png"> </button>
	<button type="button" id="gender" style="position:absolute;top:450px;left:372px;"> <img src="/assets/genderIcon.png"> </button>
	
	<div class="photo-container" style="width:332px;height:742px;overflow:hidden;top:100px;left:50px;position:absolute;background-color:white">
			<p class="centeredImage"><img id="body_view"  height="740" src="/assets/whole_0.png" onmousedown="event.preventDefault();" 
			alt="no photo" style="position:relative;"></img></p>
			<canvas id="canvas" width="330" height="740" >
			</canvas>
	</div>

</div>

<!-- Second pane: Zoomed view for drawing functionality -->
<!-- DM: I think it makes more sense to keep the text + drawing annotation components together? -->
<div id="content-panel" style="width:700;height:336px;position:absolute;left:440px;top:100px">
	
	<table>
		<td width="330px">
			<div class="zoom-photo-container" style="width:330px;height:330px;overflow:hidden;">
				<img id="zoom_body_view" src="/assets/whole_0.png" onmousedown="event.preventDefault();" 
					alt="no photo" style="position:relative;">
				</img>

			<canvas id="zoomCanvas" width="330" height="330">
			</canvas>	
		</td>
		<td width="360px">	
			<div id="pain_picker">
					<ul style="list-style:none;">
						<li>Please describe your symptom: </li>
						<li><textarea cols="45" id="tag_annotate" name="tag[annotate]" rows="5"></textarea></li> <br/>
						<li>Symptom Severity: <div class="pain_type_slider" id="tag_pain_severity"></div></li> <br/>
						<li> Symptom Depth: <div class="pain_type_slider" id="tag_pain_depth"></div></li> <br/>
						<li> I experience this symptom mostly when I: <br/>
							<form>
							<input type="checkbox" name="posture" value="Stand"/> Stand
							<input type="checkbox" name="posture" value="Walk"/> Walk
							<input type="checkbox" name="posture" value="Run"/> Run
							<input type="checkbox" name="posture" value="Jump"/> Jump
							<input type="checkbox" name="posture" value="Sit"/> Sleep
							</form>
							</li> <br/>
						<li> <button type="button" id="undo">Undo</button> <button type="button" id="tagDone">Done!</button> </li>
					</ul>
			</div>	
		</td>
	</table>	
</div>


<!-- Third pane: Annotating & etc + review of symptoms -->
<div id="pain_panel" style="width:700px;height:350px;position:absolute;top:450px;left:440px;">
	<ul>
		<!-- ><li><a href="#pain_picker">Pain Picker</a></li> -->
		<li><a href="#my_symptoms">My Symptoms</a></li>
	</ul>
	
	<!-- DM: moved this to the second panel
	><div id="pain_picker">
			<ul style="list-style:none;">
				<li>Describe Your Annotation: </li>
				<li><textarea cols="25" id="tag_annotate" name="tag[annotate]" rows="4"></textarea></li>
				<li>Pain Severity: <div class="pain_type_slider" id="tag_pain_severity"></div></li>
				<li> Pain Depth: <div class="pain_type_slider" id="tag_pain_depth"></div></li>
				<li> <button type="button" id="tagDone">Done!</button> </li>
			</ul>
	</div>
	-->
	<div id="my_symptoms">
</div>
<!-- Fourth pane: Submit button -->
<div style="top:100px;left:360px;position:absolute;">

</div>
	
<script type="text/javascript">
	//current view side {0:front, 1: right, 2: back, 3: left}
	var cur_view_side=0;
	var imagePrefix="/assets/";
	
	var zoomScale=1.0;//current zoom scale
	var cvState =new CanvasState(document.getElementById("zoomCanvas"));//second pane: zoomed canvas
	var zcvState = new ZoomCanvasState(document.getElementById("canvas"), cvState, zoomCallback, packTagInfo, tagDoneCallback);//first pane: main canvas
	cvState.setViewState(0,0,1.0); //sets initial zoom scale
	
	//callback after "done" button clicked for tag
	function tagDoneCallback(){
		//update drawing canvas
		cvState.flush();
	
		//updating my_symptoms tab
		$("#my_symptoms").accordion("destroy");
		var symptomLogger= $("#my_symptoms");
		symptomLogger.append($("<h3><a href='#'>"+document.getElementById("tag_annotate").value+"</a></h3>"));
		symptomLogger.append($("<div><div>severity: "+document.getElementById("tag_pain_severity").childNodes[0].style.left+
													"</div><div>depth: "+document.getElementById("tag_pain_depth").childNodes[0].style.left+"</div></div>"));
		
		setTimeout(function(){
			$("#my_symptoms").accordion();
			$("#my_symptoms").accordion("resize");
		}, 1500);
		
		//resetting pain_panel tab
		document.getElementById("tag_annotate").value="";
		document.getElementById("tag_pain_severity").childNodes[0].style.left=0;
		document.getElementById("tag_pain_depth").childNodes[0].style.left=0;
	}
	
	//returns annotated tag information from pain tab.
	function packTagInfo(){
		var annotation=document.getElementById("tag_annotate").value;
		var severity=document.getElementById("tag_pain_severity").childNodes[0].style.left;
		var depth=document.getElementById("tag_pain_depth").childNodes[0].style.left;
		return {"annotate":annotation, "severity":severity, "depth":depth, "view_side":cur_view_side};
	}
	
	//called when zoom button is clicked.
	function zoomCallback(x, y, w, h){
		var originalW=document.getElementById("body_view").width;
		var marginBuffer = (330 - originalW)/2;
		var standardW=330;
		zoomScale=standardW/w;
		var zoomImg=document.getElementById("zoom_body_view");
		zoomImg.style.width=originalW*zoomScale+"px";
		zoomImg.style.left=(marginBuffer*zoomScale - x*zoomScale)+"px";
		zoomImg.style.top="-"+y*zoomScale+"px";
		cvState.setViewState(x,y,zoomScale);
	}
	
	//set up buttons & panels & tabs
	$(function() {
		$("#my_symptoms").accordion();
		$( "#pain_panel" ).tabs();
		$(".pain_type_slider").slider();
		
		//buttons
		$( "#rotateLeft" ).click(function(){
			cvState.flush();
			cur_view_side = (cur_view_side+1)%4;
			zcvState.setCurViewSide(cur_view_side);
			$("#body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
			$("#zoom_body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
		});
		$( "#rotateRight" ).click(function(){
			cvState.flush();
			cur_view_side = (cur_view_side+3)%4;
			zcvState.setCurViewSide(cur_view_side);
			$("#body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
			$("#zoom_body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
		});
		$("#gender").click(function(){
			console.log(imagePrefix);
			if(imagePrefix == "/assets/"){
				imagePrefix = "/assets/female_";
			} else {
				imagePrefix = "/assets/";
			}
			$("#body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
			$("#zoom_body_view").attr("src",imagePrefix + "whole_"+cur_view_side+".png");
		})
		$( "#undo" ).click(function(){
			cvState.undoLastDrawing(cvState);
		});
		$( "#submitTask" ).click(function(){
			zcvState.submitAll();
		});
		$( "#tagDone" ).click(function(){
			zcvState.saveTagInfo();
		});
	});
</script>