/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
canvas {
    position:absolute;
    top: 0;
    left: 0;
}
#header{
  width: 100%;
  background-color:gray;
  padding: 10px;
}
#header div{
  display: inline-block;
  color:white;
  margin-right: 40px;
  vertical-align:top;
}

body {
  font-family : "Trebuchet MS";
  margin: 0px;
}

#content-panel {
  background-color:#FFFFFF;
  overflow:hidden;
  display:inline-block;
}

#instructions{
  width:1050px;
  background-color:#ffda98;
}

.centeredImage{
  text-align:center;
  margin-top:0px;
  margin-bottom:0px;
  padding:0px;
  }
#instruction_container{
  -webkit-border-radius: 5px;
  border:solid 2px #4c6983;
  padding:10px;
}
